<!-- home#index -->
<h1>&raquo; <span class="orange"><%= @group.name %></span>:</h1>
<div id="box">
<small class="info">Deleting a bookmark will not delete the short url, so others can still access it if it's been shared!</small>
<ul class="listing">
<% if @group.bookmarks.size == 0 %>
	<p>There are no bookmarks in this group!</p>
<% end %>
<% @group.bookmarks.reverse.each do |b| %>
<% if b && b.shared_url && b.shared_url.full_url && b.shared_url.short_url %>
<li>
	<%= link_to 'x', bookmark_url(b), :confirm => "Are you sure?", :method => :delete, :class=>'del' %>
	<%= link_to b.shared_url.full_url, root_url()+(b.shared_url.short_url || ''), :target => '_blank' %><small><%= root_url()+(b.shared_url.short_url || '') %></small>
</li>
<% end %>
<% end %>
</ul>
<h2>your groups</h2>
<ul class="tags">
<% @groups.each do |g| %>
<li>
	<%= link_to 'x', group_url(g), :confirm => "Are you sure? This will mark all bookmarks belonging to this group as uncategorized", :method => :delete, :class=>'del' %>
	<%= link_to g.name, group_url(g) %>
</li>
<% end %>
</ul>
</div>