<h1>Change your <span class="highlighted">password</span>...</h1>
<div id="box">
<%= form_for current_user, :url=> change_password_url do |f| %>
	<%= errors_for(current_user, "Opps, unable to change your password").html_safe %>
	<%= flash[:notice] %>
	<ul>
		<li>
			<%= f.label :password, 'New password', :class=>'label' %>
			<%= f.password_field :password, :class=>'input' %>
		</li>
		<li>
			<%= f.label :password_confirmation, 'Confirm new password', :class=>'label' %>
			<%= f.password_field :password_confirmation, :class=>'input' %>
		</li>
		<li>
			<%= f.submit 'change' %>
		</li>
	</ul>
<% end %>
</div>