<% #home#index %>
<h1>Your <span class="highlighted">bookmarks</span>:</h1>
<div id="box">
<%= render :partial => 'shared_urls/mini_sharedurl_form', :shared_url => @shared_url %>

<% if @groups.size == 0 %>
	<p>Organise your bookmarks! <%= link_to 'create a group', new_group_url %></p>
<% end %>
<ul class="tags">
	<li class="new_group"><%= link_to '&raquo; new group'.html_safe, new_group_url %></li>
	<%= render :partial => "groups/group_li", :collection => @groups, :as => :g, :locals => {:current_group => nil} %>
</ul>

<%= form_tag add_bookmarks_to_group_url, :class => "wide_form" do %>
<% if @bookmarks.size != 0 %>
	<%= collection_select "group", "id", current_user.groups.all, :id, :name, options={:include_blank => 'Move selected bookmarks to a group'}, :class=>"aselect wide_input" %>
<%= submit_tag 'move' %>
<span class="clearfix"></span>
<ul class="listing">
<%= render :partial => "bookmarks/bookmark_li", :collection => @bookmarks, :as => :b, :locals => {:checkbox => true, :created_id => flash[:created_id]} %>
</ul>
<% else %>
<p>You have no unsorted bookmarks.</p>
<% end #end if %>
<% end #end bookmarks form %>
</div>