<!-- home#index -->
<h1>Your <span class="orange">bookmarks</span>:</h1>
<div id="box">
<%= render :partial => 'shared_urls/mini_sharedurl_form', :shared_url => @shared_url %>

<ul class="tags">
<% @groups.each do |g| %>
<li>
	<%= link_to 'x', group_url(g), :confirm => "Are you sure? This will mark all bookmarks belonging to this group as uncategorized", :method => :delete, :class=>'del' %>
	<%= link_to g.name, group_url(g) %>
</li>
<% end %>
</ul>
<small class="info">Deleting a bookmark will not delete the short url, so others can still access it if it's been shared!</small>

<%= form_tag add_bookmarks_to_group_url do %>
<ul class="listing">
<% @bookmarks.reverse.each do |b| %>
<% if b && b.shared_url && b.shared_url.full_url && b.shared_url.short_url %>
<li>
	<%= check_box_tag "bookmarks[]", b.id %>
	<%= link_to 'x', bookmark_url(b), :confirm => "Are you sure?", :method => :delete, :class=>'del' %>
	<%= link_to b.shared_url.full_url, root_url()+(b.shared_url.short_url || ''), :target => '_blank' %><small><%= root_url()+(b.shared_url.short_url || '') %></small>
</li>
<% end %>
<% end %>
</ul>
<small class="info">Move selected bookmarks to a group</small><%= collection_select "group", "id", current_user.groups.all, :id, :name, options={:include_blank => ''}, :class=>"aselect" %>
<%= submit_tag 'move' %>
<% end %>
</div>