<% content_for :subtitle do %>
	<span>All <span class="highlighted">users</span>:</span>
<% end %>
<div id="box">
<ul>
<% @users.each do |u| %>
<li>
	<%= u.id %> | <%= u.full_name %> | <%= u.login %> | <%= u.email %> <%= u.admin ? ' | <small class="highlighted">admin</small>'.html_safe : '' %>
</li>
<% end %>
</ul>
</div>