<h1><span class="highlighted">Forgot</span> password?</h1>
<div id="box">
	<% if !flash[:notice].nil? %>
	<p>
		<%= flash[:notice] %>
	</p>
	<% end %>
<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
	<ul>
		<li>
			<%= f.label :login, 'login or email' %>
			<%= f.text_field :login %>
		</li>
		<li>
			<%= f.submit "Send Password Reset Link" %>
		</li>
	</ul>
<% end %>
</div>