<h1>Forgot Password</h1>
<p>
	<% if !flash[:notice].nil? %>
		<%= flash[:notice] %>
	<% else %>
		Please enter your login or the email address you used to register.
	<% end %>
</p>
<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
	<%= f.label :login, 'login or email' %><br />
	<%= f.text_field :login %><br />
	<br />
	<%= f.submit "Send Password Reset Link" %>
<% end %>