<h1>Login<span class="orange">.</span></h1>

<div id="box">
<%= form_for @user_session, :url => login_url do |f| %>
	<%= errors_for(@user_session, "Opps, unable to log you in").html_safe %>
	<ul>
		<li>
			<%= f.label :login, 'login or email' %>
			<%= f.text_field :login, :placeholder => 'mr_Smith or mr_smith@smithes.com' %>
		</li>
		<li>
			<%= f.label :password, 'password' %>
			<%= f.password_field :password, :placeholder => '********' %>
		</li>
		<li>
			<%= f.label :remember_me %>
			<%= f.check_box :remember_me %>
		</li>
		<li>
			<%= f.submit "Login" %>
		</li>
		<li class="small"><%= link_to "forgot your password?", forgot_password_url, :title=>'reset it!'  %></li>
	</ul>
<% end %>
</div>