<header>
	<nav>
		<ul>
		<% if !current_user %>	
			<li><%= link_to 'register', new_user_url %></li>
			<li><%= link_to "login", { :controller => "user_sessions", :action => "new" } %></li>
		<% else %>
			<!--li><%= link_to current_user.login, { :controller => "users", :action => "show", :id => @current_user } %></li-->
			<li><%= link_to 'logout', logout_url %></li>
		<% end %>
		</ul>
	</nav>
	<h1><%= link_to 'Rewriter', root_url, :title=>'home' %></h1>
</header>